<h1>Go Gitters</h1>
<h2>Sami</h2>
<h2>David Astor</h2>
<h3>Elvin</h3>
<h1>Jordan!</h1>
<h3>Reilly</h3>
<% @takumis.each do |meal| %>
<p>meal.gyoza</p>
<p>meal.ramen</p>
<p>meal.hungry</p>
<% end %>

.
.
.
.
.
.
.
.
<h1>foobar</h1>

